<a href="https://colab.research.google.com/github/OCTAVIAKOMSKAIKRU/solid-octo-succotash/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ysing strings and variables function in your python program

my_name = "Mathebula"
my_age = "28"
print("There was a man named " + my_name + ".")
print("Looking for a team to join in the summer and due to him being of the age of " + my_age + ", he will have join the senior group. " )
print("We then informed Mr " + my_name + " about the outcome of his enquire. ")

There was a man named Mathebula.
Looking for a team to join in the summer and due to him being of the age of 28, he will have join the senior group.
We then informed Mr Mathebula about the outcome of his enquire.

In [ ]:
my_name = "Messi"
my_age = "34"

print("The GOAT "+ my_name + " has been the best palyer in world for the past 15 years.")
print("In 2022 he is still showing and proving his undoubted worth to the game at the tender age of " + my_age + ".")

my_name = "Lionel"

print ("When asked about his football carrer as he looks back, " + my_name + " appreciated the acces football allowed to recive and give aswell .")
print ("What was fuuny was that he didnt belive he was " + my_age + "already.")

The GOAT Messi has been the best palyer in world for the past 15 years.
In 2022 he is still showing and proving his undoubted worth to the game at the tender age of 34.
When asked about his football carrer as he looks back, Lionel appreciated the acces football allowed to recive and give aswell .
What was fuuny was that he didnt belive he was 34already.

In [ ]:
# working with input values and phrase function

phrase = "Total Academy"
print(phrase + " is the best academy in world.")

Total Academy is the best academy in world.

In [ ]:
phrase = "Total academy"
print(phrase.lower())

total academy

In [ ]:
phrase = "Total Academy"
print(phrase.upper())

TOTAL ACADEMY

In [ ]:
phrase = "Total Academy"
print(phrase.upper().isupper())

True

In [ ]:
phrase = "Total Academy"
print(len(phrase))

13

In [ ]:
phrase = "total Academy"
print((phrase[7]))

c

In [ ]:
phrase = "Total Academy"
print =(phrase.index["d"])

In [ ]:
phrase = "Total Academy"
print(phrase.replace("Total" , "Stars"))

Stars Academy

In [ ]:
# We are going to be putting our skills we have learnt so far to test by building a miniture input-user game (MADLIB POEM)

my_Color= input("Enter a color :")
my_Name= input("Enter a name :")
Plural_noun = input("Enter a plural_noun :")

print =("Roses are" +my_Color)
print =(Plural_noun +"are blue")
print =("I love" +my_Name)

Enter a color :red
Enter a name :Chowder
Enter a plural_noun :Violet

In [ ]:
phrase ="Total Academy"
print(phrase.index ("Acad"))

6

In [ ]:
#we going to using numbers and math , in order for use to use those function we are going to have to import certain python function.

from math import*

my_number = 4.5
print(floor(4.5))

4

In [ ]:
from math import*

my_number = 45
print(sqrt(45))

6.708203932499369

In [ ]:
from math import*

my_number = (-5)
print(ceil(-5))

-5

In [ ]:
# We can use () to specify the order of operation.
 
from math import*

print =(3*(4+5))

In [ ]:
# We are going to take information by the user in our inputs and store them as variables.

my_name = input("Enter your name : ")
print =("Hello"+my_name)

Enter your name :  Thabang

In [ ]:
# We can also also convert the numbers stored as variables and convert them into strings using ().

my_number = 5
print = (str(my_number))

#Also

my_number = 5
print = (str(my_number) + " is my favourite number")

In [ ]:
# Function for numbers

pow
max/min
round

In [ ]:
# LISTS

# A structure we use to store huge data whlist organizing and keeping track of them []

# With lists the order in numerical order ascends(0,1,2..) , then feom the rear of the list it decends from -1 onwards.

my_friends = ["me" , "myself" , "chowder"]
print = (my_friends)

# For us to then find an index in the list

my_fiends = ["me","myself","chowder"]
my_friends = (my_friends[1])


# For us to move up the list we use the bolean function 

my_friends = ["me","myself","chowder"]
print =(my_friends[1:])


# To modify any specific elelment within the list

my_friends = ["me","myself","chowder"]
my_friends[1] = "kamo"
print = (my_friends[1])

In [ ]:
# We are going to viewing and exploring more list functions within python


Lucky_number = [4,12,33,3]
my_friends = ["me","myself","chowder"]

my_friends.remove  ("me")
print = (my_friends)

# Then in order to remove all elements in the list
my_friends = ["me","myself","chowder"] 
my_friends.clear
print = (my_friends)


# We can use the index function to figure out at certain element in list

my_friends = ["me","myself","chowder"]
print = (my_friends.index("me"))

# To recall the amount of times an element appears on a list

my_friends = ["me","myself","chowder"]
print = (my_friends.count("me"))


# to put the elements in side the lists in ascending order

my_friends = ["me","myself","chowder"]
my_friends.sort()
print = (my_friends)


# To copy a list

my_friends = ["me","myself","chowder"]
my_friends2 = my_friends.copy()
print = (my_friends)

In [ ]:
#TUPLES

# A type of container that can contain various elements similar to lists

# The only difference being it unable to be modified once coded

In [ ]:
#FUNCTIONS

# A collection o code to perform a specifc tasks

# The code that goes into this function needs to be indented.

def sayhi():
    
    print = ("hello user")

sayhi()

#Complex?

def sayhi():
  print = ("to")


print = ("Welcome")
sayhi()
print = ("the future")


# Then when we want to add infromation to the function we use a certain word named "PARAMETERS"

def  sayhi(name):
  print = ("Good day" + name)

sayhi("kamogelo")

# you can add as many parameters as you can to the function.

In [ ]:
# RETURN STATEMENTS 

# When we want to recall information back from the function


def cube(num) :
    return  num*num*num

result = cube(4)
print =(result)

In [ ]:
# IF STATEMENTS

# Using this we could assit programs into decision making.

# We can have a certain condition and if that statement is true we cthen could act on that condition.

# CASE STUDY

# I am at the resturant
# if i want meat 
   # i order a steak 
# otherwise if i want pasta   # we use else or elif in python when the first command true
   # i order spagetti and meatballs
# othrwise
   # i order a salad



# Let us create a basic form of "if statements"

# creating a bolean variable that can state whether the user is MALE

# ...so when there is indentation and the bellow condition corolate with the TRUE variable, the program will run.



is_male = True

if is_male :
  print ("You are male")

You are male

In [ ]:
# Then if the indented condition isnt corallting with the variable

is_male = False

if is_male :
  print ("You are male")

else :
  print ("You are not a male")

You are not a male

In [ ]:
# Then in order for us to attend and evaluate more scenarios we use a BOOL called "elif"

is_male = False
is_tall = True

if is_male and is_tall :
  print("You are a tall male.")
elif is_male and not is_tall :
  print("You arent a tall male")
elif not is_male and is_tall :
  print("You are tall but arent male")

else :
  print("You neither a male or tall")

You are tall but arent male

In [ ]:
# Comparison Operators

# We are going to be creating a python function which its main purpose is to give a max number

# By taking in 3 parameters as inputs and print out the largest digit.

def .max_num(num1, num2, num3)

# We are also going to be using this (>=) comparison operator.

if num1 >= num1 and num2 >= num3
     return num1

elif : num2 >= num1 and num2 >= num3
     return num2

else :
  numb3

print : (max_num(10,3,22))

In [ ]:
# DICTIONARY

# Give it a name and within curved{} brackets.

#...within those brackets are keys which is represented by their values.

# Do not dupliacte the keys within a dictionary.


monthConversions = {

"JAN" : "January",
"FEB" : "February",
"MAR" : "March",
"APR" : "April",
"MA"  : "May",
"JUN" : "June",
"JUL" : "July",
"AUG" : "August",
"SEP" : "September",
"OCT" : "October",
"NOV" : "November",
"DEC" : "December", 

}
print(monthConversions["NOV"])

November

In [ ]:
#WILD LOOPS

# The function of the loop will depend on the comparison operartors for diffrent sceniorios.

i = 1
while 1>=10:
  print(i)
i += 1

print("Done with loop")

Done with loop

In [ ]:
secret_word = "dog"
guess_word  = ""

while  guess != secret_word :
  guess = input("enter guess")


print("You win!")

In [ ]:
# We are going to be structuring another coded game that will allow us to use our recent acquired skills.

# For example if statements, variables, wild loops just to name a few.

# This will be a "Guessing game" , which will alow us to store a secret word or value.

# Giving the user the oppertuntity to select and guess the value or word.

#our chosen one
secret_word = "chowder"
# The user input value 
guess_word  = ""
# We will be incoding a line that will give the user 3 tries.
guess_count = 0
#This will be the limit of tries the user can input
guess_limit = 3
# The response to the code until the user is out of guesses(3)
out_of_guesses = False


while guess != secret_word and not(out_of_guesses):
  if guess_count < guess_limit:
   guess = input("enter word/value")
   guess_count += 1

else :
  out_of_guesses = True


  if out_of_guesses :
   print("You Lose!")
  else :
     print("You win!")

In [ ]:
# For Loops

# This will allow us to continuosly loop over various collections of items within the function.

for letter in "Thabang" :
  print(letter)

T
h
a
b
a
n
g

In [ ]:
# We can also store and collect them using arrays that contain strings and numbers.

Friends = ["Me","Myself","Chowder"]
for names in Friends:
  print(names)

Me
Myself
Chowder

In [ ]:
for index in range(55) :
  print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [ ]:
# Complex in Python.

for index in range (3): 
  if index == 0:
    print("YAY")
  else :
     print("NA")

YAY
NA
NA

In [ ]:
# Exponent Function

# Taking acertain number and raising it to a certain power.

# We are going to be using "for loops" to expand our exponent function.

def raise_to_pow (base_num,pow_num) : 
  result = 1 
for index in range (pow_num):
 
  result = result * base_num 
  return result
  

  print(raise_to_power(4,3))

In [24]:
# 2D lists and Nested loops

# We would like to access ceratain lists elements within the list.

number_grid=[
  
  [1,2,3],      # across is rows
  [4,5,6],
  [7,8,9],
  [0]           # downward are columns
]
print =(number_grid[2][0])

In [30]:
# Translator

# We can take a string or a word ana translate it into a different/required langauge.

def translate(phrase):
  translation =""
  for  letter in phrase:
    if letter in "AEIOUaeiou" :
      translation = translation + p

    else :
       translation = translation + letter
       return translation

print=(translate(input("Enter a phrase")))

Enter a phrase Dog

In [ ]:
#Comments

# You use a # when commenting on your code.

# it can be used to also "block out" unwanted line of code.

In [35]:
# Try Except

# The useful in a input user function e.g when you a user to enter a number and they enter a string.

# You then use "TRY EXCEPT" to handle this error and inform the user they entered a wrong value.

try :
  number =int(input("Enter a number"))
  print(number)

except :
  print= ("Invalid")

Enter a number thg

In [40]:
# you also dont want to say just "except" , you gonna need to be more define.

# by using a function for a specific error.

try :
  answer = 10/0
  number = int(input("Enter a number :"))
  print(number)

except ZeroDivisionError as error :
 print=(error)
except ValueError :
 print(Invalid)

In [ ]:
from os import close
# Reading command

# How we can open and close a file.

# The resource i got the information from was freecodecamp, and the youtuber used his own personal files under the name
"employees.txt"

employee_file = open("employees.txt","r")
employee_file = close

# How to get information from within the file.

employee_file = open("employees.txt","r")
for employee in employee_file.readlines() :
     print(employee)

employee.file.close()

# How to writ and append existing files.

employee_file = open("employees.txt","r")
employee_file.write(/nToby)
employee_file = close ()